/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
// @use 'assets/css/MaterialStyleSheet.scss';
@include mat.core();
@include mat.all-component-densities(-3);
@include mat.form-field-density(-5);

:root{
    --default-font: 'Noto Sans', 'sans-serif';
    --main-color: rgb(30, 148, 164);
    --main-dark-color: rgb(11, 121, 137);
    --main-light-color: rgb(232, 244, 245);

}

body{
    font-family: var(--default-font) !important;
    background-color: #eee;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
small{
    font-family: var(--default-font) !important;
    letter-spacing: normal !important;
}
#login-box .mat-mdc-tab-body-content{
    padding: 2px !important;
}