/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
// @use 'assets/css/MaterialStyleSheet.scss';
@include mat.core();
@include mat.all-component-densities(-3);
@include mat.form-field-density(-5);

:root{
    --default-font: 'Noto Sans', 'sans-serif';
    --main-color: rgb(30, 148, 164);
    --main-dark-color: rgb(11, 121, 137);
    --main-light-color: rgb(232, 244, 245);

}

body{
    font-family: var(--default-font) !important;
    background-color: #eee;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
small{
    font-family: var(--default-font) !important;
    letter-spacing: normal !important;
}
#login-box .mat-mdc-tab-body-content{
    padding: 2px !important;
}

// .btn-main:hover {
//     background-color: var(--main-dark-color) !important;
//     color: #fff !important;
//     font-size: 1.5rem;
//   }
//   .dashboard-table tbody tr:nth-child(even) {
//     background-color: #0e5dd3 !important;
// }
.dashboard-table tbody td button {
    height: 36px !important;
    line-height: 22px;
}
.dashboard-table tbody tr:nth-child(even){
    background-color: #f2f4f7 !important;
}
.mat-mdc-header-row {
    background: #f3f9f3 !important;
}
.mat-mdc-icon-button {
    padding: 12px;
    font-size: var(--mdc-icon-button-icon-size);
    border-radius: 50%;
    flex-shrink: 0;
    text-align: center;
    -webkit-tap-highlight-color: white;
    max-width: 64rem !important;
}

.btn-icon{
    width: 38px !important;
    height: 38px !important;
    min-width: 38px !important;
    padding: 6px !important;
    text-align: center !important;
    background-color: var(--main-dark-color) !important;
    color: #fff !important;
    font-size: 1.5rem;
    background-color: var(--main-dark-color) !important;
    color: #fff !important;
    font-size: 1.5rem;
}
.btn-icon .material-symbols-outlined{
    font-size: 1.2rem !important;
    margin: 0 !important;
}